*{
  margin: 0px;
  padding: 0px;
}
body{
  background-color: white;
 
}
h1{
  color:#fec35d;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  align-items : initial;
  line-height: 600%;
}

img{
  height: 200px;
  width: 300px;
}
.imagem{
display: grid;
grid-template-columns: repeat(5,1fr);
grid-template-rows: repeat(3,1fr);
grid-template-areas: 
"img1 . img2 . img3"
"tx1 img4 tx2 img5 tx3"
". tx4 . tx5 . ";
}

#img1{
  grid-area: img1;
  filter: drop-shadow(10px 10px 5px#c28e34);
}
#img2{
  grid-area: img2;
  filter: drop-shadow(10px 10px 5px #c28e34 );
}
#img3{
  grid-area: img3;
  filter: drop-shadow(10px 10px 5px #c28e34 );
}
#img4{
  grid-area: img4;
  filter: drop-shadow(10px 10px 5px #c28e34 );
}
#img5{
  grid-area: img5;
  filter: drop-shadow(10px 10px 5px #c28e34 );
}


#tx1{
  grid-area: tx1;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
#tx2{
  grid-area: tx2;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#tx3{
  grid-area: tx3;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#tx4{
  grid-area: tx4;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#tx5{
  grid-area: tx5;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
